In [1]:
import pandas as pd

df = pd.read_pickle(r'C:\Users\dotru\STUDIE\FPTU\AiTA_Lab\Bio_sequence_Research_AITALAB\benchmark\task3_variant_prediction\DS-MVP\CSPD.pkl')
df

     #chr  pos(1-based) ref alt
0       1       3414616   T   C
1       1       3426095   G   A
2       1       3430888   G   A
3       1      15716271   T   C
4       1      15718548   G   A
...   ...           ...  ..  ..
2156    X     154380798   G   C
2157    X     154413552   G   A
2158    X     154414113   T   C
2159    X     154420212   G   T
2160    X     154420676   G   C

[2161 rows x 4 columns]

In [2]:
import pandas as pd

df = pd.read_pickle(r'C:\Users\dotru\STUDIE\FPTU\AiTA_Lab\Bio_sequence_Research_AITALAB\benchmark\task3_variant_prediction\DS-MVP\NSPD.pkl')
df

    #chr  pos(1-based) ref alt
0      1     226883725   G   C
1      1     226883748   G   A
2      1     226883774   C   T
3      1     226883817   C   T
4      1     226885546   C   G
..   ...           ...  ..  ..
886   22      38116155   C   T
887   22      38120867   T   G
888   22      38145625   C   T
889   22      38145647   G   T
890    X     155260871   C   T

[891 rows x 4 columns]

In [3]:
import pandas as pd

df = pd.read_pickle(r'C:\Users\dotru\STUDIE\FPTU\AiTA_Lab\Bio_sequence_Research_AITALAB\benchmark\task3_variant_prediction\DS-MVP\RareD.pkl')
df

      #chr  pos(1-based) ref alt
0        1       1232754   C   A
1        1       1051275   T   C
2        1       1046733   G   A
3        1       1204175   C   T
4        1       1232823   A   G
...    ...           ...  ..  ..
11535    X     155220232   C   T
11536    X     155524537   G   A
11537    X     155889549   T   C
11538    Y       7063898   A   T
11539    Y       6868316   C   G

[11540 rows x 4 columns]

In [4]:
import pandas as pd

df = pd.read_pickle(r'C:\Users\dotru\STUDIE\FPTU\AiTA_Lab\Bio_sequence_Research_AITALAB\benchmark\task3_variant_prediction\DS-MVP\HardD.pkl')
df

       #chr  pos(1-based) ref alt
0         1      45327840   C   G
1         8     139910221   T   C
2         1     216078214   A   T
3        14      34771534   C   T
4        19      18134637   G   A
...     ...           ...  ..  ..
10395    21      33552821   C   T
10396    17      75286345   C   T
10397    11      59152779   A   T
10398    13      59983810   G   C
10399     1     201054513   C   T

[10400 rows x 4 columns]